 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>I'm a Certified FME Professional with over 5 years’ experience in the spatial industry holding roles in ecology research, asset management, and spatial consulting. My primary work has been on Environment, Transportation, and Built Infrastructure sectors with a focus on cartography, data management, analytics, and automation. I have demonstrated ability to investigate, analyse and provide high quality solutions to complex spatial problems.</p>
             </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/nothing-butanol/nothing-butanol.github.io/blob/master/WesGraham_GIS_Resume_20200805.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
